<ion-header>
  <ion-toolbar>
    <ion-title>Password Reset</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding w-100">
  <form [formGroup]="resetPwdForm" (submit)="resetPassword()" novalidate>
    <ion-item>
      <div class="item-note item-start">
        <ion-icon name="at" color="secondary"></ion-icon>
      </div>
      <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item class="error-message" *ngIf="!resetPwdForm.controls.email.valid  && resetPwdForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col style="text-align: center">
          <ion-button class="center-all" type="submit" [disabled]="!resetPwdForm.valid">Reset Password</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
