<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Tasky
    </ion-title>
      <ion-buttons slot="end">
          <ion-button class="solid" color="light" (click)="logout()">Logout</ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-item>
    <ion-input id="taskInput" type="text" placeholder="Enter task" [(ngModel)]="taskName"> </ion-input>
    <div class="item-note" slot="end">
      <ion-button (click)="addTask()"><ion-icon name="add"></ion-icon></ion-button>
    </div>
  </ion-item>
  <div class="ion-padding">
    <ion-list>
        <ng-container *ngFor="let todoItem of fireStoreTaskList | async">
          <ion-item class="ion-justify-content-around" *ngIf="todoItem.taskName !== ''">
              {{ todoItem.taskName }}
              <div class="item-note" slot="end">
               <ion-button (click)="updateTask(todoItem.id)" color="secondary"><ion-icon name="create"></ion-icon></ion-button>
               <ion-button (click)="deleteTask(todoItem.id)" color="danger"><ion-icon name="trash"></ion-icon></ion-button>
              </div>
          </ion-item>
        </ng-container>
    </ion-list>
  </div>
</ion-content>
